/Binaries

/DerivedDataCache

/Intermediate

/Saved

*.sln

*.sdf

*.suo

/Content/InfinityBladeEffects

/Content/InfinityBladeAdversaries

/Build

/Source

/DerivedDataCache

/Intermediate

GameProject.uproject

GameProject.VC.db