/Binaries

/DerivedDataCache

/Intermediate

/Saved

*.sdf

*.suo

/Content/StarterContent

/Content/InfinityBladeEffects

/Content/InfinityBladeAdversaries

/Build

/DerivedDataCache

/Intermediate
/Content/InfinityBladeWeapons/Effects
/Content/InfinityBladeWeapons/Maps
/Content/InfinityBladeWeapons/Weapons/Blunt
/Content/InfinityBladeWeapons/Weapons/Dual_Blade
/Content/InfinityBladeWeapons/Weapons/Maps
/Content/InfinityBladeWeapons/Weapons/Staff
/Content/InfinityBladeWeapons/Weapons/Weapon_ForgingHammers
/Content/InfinityBladeWeapons/Weapons/Blade/Silly_Weapons
/Content/InfinityBladeWeapons/Weapons/Blade/Axes
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_HeroSword11
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_HeroSword16
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_HeroSword17
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_HeroSword22
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_SwordB
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_BlackKnight
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_BlackWyrmBlade
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_Fencer
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_Glimmer
/Content/InfinityBladeWeapons/Weapons/Blade/Swords/Blade_HeroSword10
